<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin</title>
</head>
<body>
<h1>Страница администратора</h1>
<div class="container" sec:authorize="isAuthenticated()">
    <h1>Добро пожаловать</h1>
    <div >
        Вы вошли как:
<!--        <div sec:authentication="principal.username"></div>-->
        <div th:text="${authenticationUsername}"></div>
    </div>
    <!--<div sec:authorize="hasAnyRole('ADMIN', 'USER')">-->
    <div sec:authorize="hasRole('ADMIN')">
        У вас есть права администратора.
    </div>
    <div >
        <!--        <div sec:authentication="principal.username"></div>-->
        <div th:text="${welcomeMessage}"></div>
        <div th:text="${welcomeMessageEN}"></div>
        <div th:text="${welcomeMessageRU}"></div>
    </div>
</div>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Выйти">
</form>
<img th:src="@{/images/theatre.jpg}"/>
</body>

</html>