<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"/>
<!--    <meta charset="UTF-8">-->
<!--    <title>Performance date</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--</head>-->
<body>
<div th:replace="fragments :: menu"/>

<form th:action="@{/registration/performance-date}"
      th:object="${schedule}" method="post" class="form-horizontal">
        <div class="form-group ml-5">
            <label for="performance">Выберете дату спектакля</label>
            <select class="form-select form-select-sm w-25" th:field="*{performanceDate}" id="performance">
                <option value="">Nothing selected</option>
                <option th:each="performanceDate : ${performanceDates}"
                        th:value="${performanceDate}"
                        th:text="${performanceDate}">дата
                </option>
            </select>
            <span class="validationError"
                  th:if="${#fields.hasErrors('performanceDate')}"
                  th:errors="*{performanceDate}">performanceDate Error</span>
        </div>
    <div style="margin-top: 10px" class="form-group">
        <div class="col-sm-6 controls">
            <button type="submit" class="btn btn-primary">Выбрать</button>
        </div>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>