<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"/>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Бронирование мест</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

<!--</head>-->
<body>
<div th:replace="fragments :: menu"/>

<form th:action="@{/registration/places}"
       th:object="${simplePlaceObj}" method="post" class="form-horizontal">
    <div class="form-group ml-5">
        <label for="theatre" th:text="#{choose_places}" />
<!-- todo: Создать алгоритм получения каждого количества мест в определенном ряде, а затем подставить в алгоритм
     todo: после rows и сдвинуть ячейки на 10px влево, если число ясеек в следующем ряде больше чем в предыдущем-->
        <div th:each="row : ${rows}" id="theatre">
            <span th:text="'Ряд ' + ${row} "/>
            <span th:each="place: ${allPlaces}">
            <input th:if="${place.getRow() == row && place.isOccupied() == false}" th:field="*{placeList}"
                   type="checkbox"
                   th:value="${place.id}"
                   th:style="${place.isOccupied() == true ? 'background-color: #0b76ef' : ''}"
                   th:disabled="${place.isOccupied() == true}"/>
            <input th:if="${place.getRow() == row && place.isOccupied() == true}" type="checkbox"
                   th:value="${place.id}"
                   th:checked="${place.isOccupied()}"
                   th:disabled="${place.isOccupied() == true}"/>
            <span th:if="${place.getRow() == row}" th:text="${place.getPlace()}">Место</span>
        </span>
        </div>
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary" th:text="#{choose}" />
            </div>
        </div>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>